#!/bin/sh
#
# BEFORE: DAEMON
# PROVIDE: {{ base.filename }}
#
# jail base {{ base.name }} setup

. /etc/rc.subr

{% include "load_env.sh.jinja2" %}

name={{ base.name }}
start_cmd={{ base.name }}_setup

{{ base.name }}_setup() {
  # Remove traces of ourself
  rm -f "/etc/rc.d/{{ base.filename }}"

  {{ base.command }}
}

run_rc_command "$1"
